	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background: #FFF;
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 12pt;
		font-weight: 200;
		color: #000;

		background-image: url('spirits.png');
    	background-repeat: no-repeat;
    	background-attachment: relative;
    	background-position: top left;

	}
	
	
	h1, h2
	{
		font-family: 'Permanent Marker', cursive;
		margin: 0;
		padding: 0;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		font-family: 'Open Sans Condensed', sans-serif;
		line-height: 180%;
	}
	
	strong
	{
	}
	
	a
	{
		color: #000;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	
	.container
	{
		overflow: hidden;
		margin: 0em auto;
		
	}
	

@media only screen { 
	  min-device-width: 375px
	  max-device-width: 667px
	  -webkit-min-device-pixel-ratio: 2

}
	
/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	img 
{
    max-width: 100%;
    height: auto;
    border-radius: 8px;


}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.style1
	{
	}
	
	ul.actions
	{
	}
	
	ul.actions li
	{
		display: inline-block;
		padding: 0em 0.50em;
	}



/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	button
	{
		display: inline-block;
		padding: 1em 2em 1em 2em;
		letter-spacing: 0.10em;
		margin-top: 0.5em;
		padding: 1.40em 3em;
		background: #000;
		border-radius: 6px;
		text-decoration: none;
		font-size: 1em;
		font-family: 'Open Sans Condensed', sans-serif;
		color: #FFF;
	}
	
	.button-alt
	{
		padding: 1em 2em;
		border-color: rgba(0,0,0,.8);
		color: #FFF;
	}
		
/*********************************************************************************/
/* 3-column                                                                      */
/*********************************************************************************/

	.boxA,
	.boxB,
	.boxC
	{
		width: 384px;
	}

	.boxA,
	.boxB
	{
		float: left;
		margin-right: 20px;
	}
	
	.boxC
	{
		float: right;
	}

/*********************************************************************************/
/* 2-column                                                                      */
/*********************************************************************************/

	.tbox1,
	.tbox2
	{
		width: 575px;
	}
	
	.tbox1
	{
		float: left;
	}

	.tbox2
	{
		float: right;
	}

	
/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title-container
	{
		margin-top: 8em;
		margin-bottom: 3em;
	}

	.title
	{
		margin-bottom: 5em;
	}
	
	.title h2
	{
		text-align: center;
		font-size: 2.7em;
	}
	
	.title .byline
	{
		font-size: 1.3em;
		color: rgba(255,255,255,0.60);
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#wrapper
	{
		position: relative;
		padding: 5em 0em 7em 0em;
		background: #FFF;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header-wrapper
	{
		position: relative;
		padding: 0em;
	}

	#header
	{
		position: relative;
		padding: 5em 0em;
	}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu
	{
		float: right;
		top: 4em;
		position: relative;
		

	}
	
	#menu ul
	{
		display: inline-block;
	}
	
	#menu li
	{
		display: block;
		float: left;
		text-align: center;
	}
	
	#menu li a, #menu li span
	{
		padding: 1em 1.5em;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 0.8em;
		color: #000;
	}
	
	#menu li:hover a, #menu li.active a, #menu li.active span
	{
	}
	
	#menu .active a
	{
		background: #000;
		border-radius: 6px;
		color: #FFF;
	}
	
	#menu .icon
	{
	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		padding-top: 6em;
		padding-left: 23em;
		text-align: left;
		
		
	}
	
	#banner .title h2
	{
		text-align: left;
		font-size: 4em;
	}
	
	#banner .title .byline
	{
		font-size: 2em;
	}
	
	#banner .button
	{
		margin-top: 2em;
		padding: 1.40em 3em;
		border-radius: 6px;
		font-weight: 700;
		font-size: 1em;
		
	}
	
	.banner
	{
		margin-bottom: 5em;
		background-image: url("SGlogo.png");
	}


/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
	}


/*********************************************************************************/
/* About                                                                       */
/*********************************************************************************/

	#center
	{
		position: relative;
		padding: 2em 0em 2em 0em;
		background: #000;
		background-size: cover;
		text-align: center;
	}
	
	#center .container
	{
		width: 1000px;
		padding: 0px 100px;
		color: rgba(255,255,255,0.8);
	}
	
	#center a
	{
		color: rgba(255,255,255,1);
	}
	
	#center .button
	{
		background: #FFF;
		color: #2651a8;
	}


/*********************************************************************************/
/* Extra                                                                         */
/*********************************************************************************/

	#two-column
	{
		text-align: center;
		color: rgba(0,0,0,0.6);
	}

	#two-column .fa
	{
		display: block;
		padding: 1em 0em;
		color: rgba(0,0,0,1);
		font-size: 2em;
	}
	
	#two-column .title h2
	{
		font-weight: bold;
		
	}

	#two-column .title .byline
	{
		text-align: center;
	}

